@media only screen and (min-width: 990px) {
	body > * {
	   font-size: 90% !important;
	}
	h5{
		font-size: 120% !important;
	}
	.dataTables_wrapper .dt-buttons {
		margin-top: 10px;
		position: relative;
		left: 160px;
		float:right;
		z-index: 9998;
	}
	.journalButtons{
		top:48px;
		position:relative;
		z-index: 9999;
	}
}
@media screen and (min-width: 600px)  {
        .mobile-break { display: none; }
    }
.pulse {
	border: 1px solid lightgray;
	height: 40px;
	padding: 0 10px;
	width: 200px;
}

.pulse:focus {
	animation: glow .6s ease-out infinite alternate;
	outline: none;
}
.spanner{
  position:absolute;
  top: 50%;
  left: 0;
  background: #2a2a2a55;
  width: 100%;
  display:block;
  text-align:center;
  height: 300px;
  color: #FFF;
  transform: translateY(-50%);
  z-index: 10001;
  visibility: hidden;
}

.loader-overlay{
  position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	z-index: 10000;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show{
  visibility: visible;
}

.spanner, .loader-overlay{
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.spanner.show, .loader-overlay.show {
	opacity: 1
}
@keyframes glow {
    0% {
		box-shadow: 0 0 5px rgba(29, 194, 219,.2);
    }
    100% {
		box-shadow: 0 0 20px rgba(29, 194, 219,.8);
    }
}
.input-group > .select2-container {
    width: auto;
    flex: 1 1 auto;
}

.input-group > .select2-container .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}
table.dataTable tbody td.select-checkbox,
table.dataTable thead th.select-checkbox {
  position: relative;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after{
  display: block;
  position: absolute;
  top: 1.2em;
  left: 60%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
table.dataTable tbody td.select-checkbox:before{
  content: ' ';
  /* margin-top: -6px; */
  /* margin-left: 3px; */
  border: 1px solid black;
  border-radius: 3px;
}
